[submodule "flow-simulator/vendor/github.com/bitmark-inc/bitmark-sdk-go"]
	path = flow-simulator/vendor/github.com/bitmark-inc/bitmark-sdk-go
	url = https://github.com/bitmark-inc/bitmark-sdk-go
[submodule "flow-simulator/vendor/github.com/fatih/color"]
	path = flow-simulator/vendor/github.com/fatih/color
	url = https://github.com/fatih/color
[submodule "flow-simulator/vendor/github.com/hashicorp/hcl"]
	path = flow-simulator/vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "flow-simulator/vendor/gopkg.in/matryer/try.v1"]
	path = flow-simulator/vendor/gopkg.in/matryer/try.v1
	url = https://gopkg.in/matryer/try.v1
[submodule "flow-simulator/vendor/gopkg.in/urfave/cli.v1"]
	path = flow-simulator/vendor/gopkg.in/urfave/cli.v1
	url = https://gopkg.in/urfave/cli.v1
